<!DOCTYPE html>
<html>
<head>
    <title>MVC</title>
    <link rel="stylesheet" type="text/css" href="{{ asset.path('app.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{{ asset.path('app.js') }}"></script>
</body>
</html>